*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0e0cf;
}
#title{
    margin:4% 8%;
}
h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    /* border: 2px solid red; */
    box-shadow: 2px 2px 3px green;
    padding: 3px;
}
h2{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

/* NAME OF COMPANY'S STYLING */
.name{
    padding: 7% 15%;
    text-align: center;
    position:relative ;
    top: 100px;
}
.title-row{
    /* padding: 2%; */
    height: 520px;
    background-color: rgb(222, 245, 222);
}

.right{
    background-color:rgba(255, 255, 255, 0.788);
}



/* FORM-FILLING STYLING */
#form{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.forgot{
    text-decoration: none;
    margin-bottom:6px ;
    position: relative;
    top: -8px;
    left: 85px;
}
.sign{
    text-decoration: none;
    margin: 3px;
}
#form i{
    margin: 2%;
}
.fill{
    font-size: 20px;
    padding: 7px;
    outline:none;
}

/* FOOTER */
#footer{
    text-align: center;
    margin: 20px;
}
.f-icon{
    margin: 8px;
}
#footer p{
    color: rgba(141, 139 ,140 , 77%);
}
/* RESPONSIVENESS */
@media (max-width:995px) {
    h1{
        font-size:2rem ;
    }
    .name{
        top: -30px;
    }
    #title{
        margin: 0px;
    }
    .fill{
        font-size: 14px;
    }
    .form-colum{
        position: relative;
        top: -75px;
    }
    .right{
        height: 155px;
    }
    .title-row{
        height: 660px;
    }
    .forgot{
        top: -4px;
        left: 65px;
    }
    #footer p{
        color: black;
    }
}
@media (max-width:800px) {
    .name{
        top: -10px;
    }
    body{
        background-color: white;
    }
#footer p{
    color: black;
}

}       
    
    
