
*{
    margin: 0px;
    padding: 0px;
}


#navbar ul{
    display: flex;
    /* background-color: black; */
    /* position: fixed;  */
}
/* #logo img{ */
    /* border-radius: 50%;
    width: 70px;
    height: 50px; */
/* } */

#navbar ul li{
    list-style: none;
    margin: 10px 5px;
    padding: 7px;  
    /* position: sticky; */
}
#navbar ul li a{
    font-size: 26px;
    font-weight: bold;
   text-decoration: none;
   color: white;
   margin: 8px;
   /* position: sticky; */
   padding: 0px 9px;
  
}
@keyframes login{
   0%{
       font-size: 26px;
   }
   25%{
       font-size: 30px;
   }
   75%{
       font-size: 33px;
   }
   100%{
       font-size: 35px;
   }
}
#navbar ul li a:hover{
    color: red;
    cursor: pointer;
    text-decoration: underline;
    animation: login 10s forwards;

}
#navbar button{
    position: absolute;
    right: 5px;
    top: 10px;
    /* text-decoration: none; */
    background: black;
    /* color: white; */
    font-size: 20px;
    border-radius: 5px;
    margin: 0px 6px;
    padding: 6px 27px;
    /* width: 100px;
    transition: width 1s ease-in-out; */
}
#navbar button a{
    text-decoration: none;
    color: red;
}
#navbar button:hover{
    /* color: black; */
    /* background-color: white; */
    cursor: pointer;
    /* width: 90px; */
}
#navbar button a:hover{
    color: white;
}
body{
    background: rgba(0, 0, 0, 0.5) url("4-21.jpg");
    background-blend-mode: darken;
    background-size: cover;
}
h1{
    text-align: center;
    color: white;
}

/* FORM PAGE STYLING */
#form{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    /* width: 50%; */
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
#form .class i{
    filter: invert(100%);
}
#form .class{
    font-size: 20px;
    /* font-weight:normal; */
    margin: 6px;
    padding: 7px;
    position: relative;
    right: -10px;
    /* width: 50%; */
}
#form .class input{
    width: 80%;
    border-bottom:2px solid rgb(64, 64, 240);
    font-size: 20px;
    border-right: 2px solid rgb(64, 64, 240);
    padding: 2px;
    color: white;
    margin: 5px;
    outline: none;
    background: none;
}
h2{
    font-size: 40px;
    font-weight: bold;
    color: red;
    text-shadow: 2px 1px 1px white;
}
#butn{
    background-color: white;
    border: 2px solid black;
}
#butn a{
    /* background-color: green; */
    font-size: 15px;
    margin:5px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    color: black;
}
#butn a:hover{
    color: red;
    border-radius: 5px;
    cursor: pointer;
}
